**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
.build-logs/
.env
*.db
*.sql
node_modules
npm-debug.log
.DS_Store
data/
frontend/dist/
frontend/node_modules/
README.md
*.bat
.vscode
